<ion-header>
  <ion-toolbar color="primary">
    <ion-title slot="start">Conciencia Fonémica</ion-title>
    <ion-title >{{acActual}}/{{NacTotal}}</ion-title>
    <ion-button slot="end" (click)="siguientePregunta()" expand="block"shape="round">
     
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
      <ion-row>
        <ion-col col-auto>
            <table>
                <tr>
                  <td>
        <ion-label style="font-size: 50%;">Adivina y pronuncia la palabra que se forma con los siguientes sonidos. </ion-label>
      </td>
      <td>
        <ion-button (click)="clickOrden()" expand="block" fill="clear" shape="round">
          <ion-icon name="volume-high"></ion-icon>
        </ion-button>
      </td>
    </tr>
</table>
</ion-col>
</ion-row>
    </ion-item>

    <ion-item>
      <ion-row>
        <ion-col col-auto>
            <table>
                <tr>
                  <td>
        <ion-label>La palabra es: </ion-label>
      </td>
      <td>
        <ion-button (click)="clickAuResp()" expand="block" fill="clear" shape="round">
          <ion-icon name="volume-high"></ion-icon>
        </ion-button>
      </td>
    </tr>
</table>
</ion-col>
</ion-row>
<ion-toggle slot="end" (ionChange)="skip($event)" color="primary"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-grid>

        <ion-row *ngIf="enabledM">
          <ion-col col-auto>
          <ion-card style="display: flex; align-items: center;justify-content: center;" button (click)="clickmic()" expand="block" fill="clear" shape="round">
          <img style="display: flex; align-items: center;justify-content: center;" src="/assets/icon/mic.png" >
            </ion-card>
          </ion-col>            
        </ion-row>
      </ion-grid>    
    </ion-item>   
  </ion-content>

<ion-footer>
    <ion-item>
      <ion-grid>  
        <ion-row *ngIf="enabledI">
          <ion-col col-auto *ngFor="let imagen of imagenes;let i = index">
            <ion-card button (click)="cardClick($event)" id ="card{{i}}" class="animate__animated animate__heartBeat">
              <img style="display: flex; align-items: center;justify-content: center;" id="img{{i}}" src="{{imagen}}" >            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>    
    </ion-item>
</ion-footer>
  <!--
      <ion-label>Prgeunta</ion-label>
  -->
   
     
    
  

  
