<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center" size="large">Programa de Conciencia Fonológica</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

</ion-content> 

<ion-footer>
  <ion-list>
    <ion-item>
      <ion-col size="12">
        <ion-button (click)="navigate()" expand="block" fill="clear" shape="round">
          ¡EMPEZAR!
        <ion-icon name="game-controller-outline" size="large" ></ion-icon>
        </ion-button>
      </ion-col>
    </ion-item>
  </ion-list>
</ion-footer>